.skills-container {
    padding: 3.5rem 0 3.5rem 18.5rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: hidden;
}
.skills-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.skills-header {
    position: relative;
    color: white;
    font-size: 6.25rem;
    font-weight: 600;
    animation: skilsBoxFade 2s ease forwards;
    opacity: 0;
}
.skills-header span {
    display: inline-block;
    transition: color .35s ease;
}
.skills-header span:hover {
    color: #08fdd8;
}
.skills-description {
    margin-top: 2rem;
    position: relative;
    display: flex;
    font-family: monospace;
    font-size: .8rem;
    line-height: 2;
    width: 62.5vw;
    height: 2.5rem;
    /* border: 1px solid rebeccapurple; */
}
.skills-box:first-of-type {
    margin-top: 7.5rem;
}
@keyframes skilsBoxFade {
    100% {opacity: 1;}
}
.skills-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: 5.5rem 0 0;
    padding: 2.5rem 0;
    border: 1px solid #08fdd8;
    background-color: rgba(0, 0, 0, .25);
    color: whitesmoke;
    border-radius: 1rem;
    animation: skilsBoxFade 2s ease forwards;
    opacity: 0;
}
.skills-title {
    position: absolute;
    color: black;
    text-transform: uppercase;
    border: 2px solid #08fdd8;
    background-color: #08fdd8;
    top: -3.25rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    padding: .5rem 1.65rem;
    border-radius: .5rem .5rem 0 0;
    animation: skilsBoxFade 2s ease forwards;
    opacity: 0;
}
.skills-content {
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    width: 100%;
}
.skillSeparator {
    height: 75%;
    width: 2px;
    border-radius: 1rem;
    background-color: #515152;
}
.skills-item {
    height: 17.5rem;
    width: 22.5rem;
    padding: 0 2rem;
    text-align: center;
}
.skills-item img {
    height: 7.5rem;
    width: 7.5rem;
    transition: all .5s ease-in-out;
}
.skills-item img:hover {
    transform: rotate(360deg) scale(1.15);
}
.skills-item h2 {
    font-size: 2.65rem;
    padding: 1.25rem 0 .65rem;
}
.skills-item p {
    font-size: 1.35rem;
    line-height: 1.4;
}
#ReactSkill {animation: skilsBoxFade 1s ease .5s forwards; opacity: 0}
#ReduxSkill {animation: skilsBoxFade 1s ease 1s forwards; opacity: 0}
#JavascriptSkill {animation: skilsBoxFade 1s ease 1.5s forwards; opacity: 0}
#RubySkill {animation: skilsBoxFade 1s ease 2s forwards; opacity: 0}
#CSSSkill {animation: skilsBoxFade 1s ease 2.5s forwards; opacity: 0}
#NodeSkill {animation: skilsBoxFade 1s ease .5s forwards; opacity: 0}
#MongoDBSkill {animation: skilsBoxFade 1s ease 1s forwards; opacity: 0}
#SQLSkill {animation: skilsBoxFade 1s ease 1.5s forwards; opacity: 0}
#RubyonRailsSkill {animation: skilsBoxFade 1s ease 2s forwards; opacity: 0}
#FirebaseSkill {animation: skilsBoxFade 1s ease 2.5s forwards; opacity: 0}

.education-separator {
    width: 0;
    height: 1px;
    background: #515152;
    box-shadow: rgba(15, 15, 15, .65) 0px 2px 4px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    opacity: .8;
    border-radius: 1rem;
    animation: lineAcross 4s ease forwards;
    margin: 6.5rem 0 5rem;
}
@keyframes lineAcross {
    100% {width: 90%}
}

.education-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.education-header {
    position: relative;
    color: white;
    font-size: 6rem;
    font-weight: 600;
    opacity: 0;
}
.education-header span {
    display: inline-block;
    transition: color .35s ease;
}
.education-header span:hover {
    color: #08fdd8;
}
#certTitle-active {
    animation: skilsBoxFade 3s ease forwards;
}

/* FLATIRON */
.flatiron-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: flex-start;
    margin-top: 2.5rem;
    width: 100%;
    height: 35rem;
    box-shadow: rgba(0, 0, 0, 0.325) 4px 4px 2px;
    margin-left: 25rem;
    opacity: 0;
}
#cert1-active {
    animation: certItemSlide 2s ease forwards;
}
@keyframes certItemSlide {
    100% {opacity: 1; margin-left: 0}
}
.flatiron-img-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 37.5%;
}
.flatiron-images {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: .25rem 0 0 .25rem;
}
.flatiron-img {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: .25rem 0 0 .25rem;
    transition: opacity .5s ease-in-out;
}
#flatiron-pointer {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2.25rem;
    color: whitesmoke;
    opacity: 1;
    transition: all .25s ease;
}
#flatiron-pointer-gone {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2.25rem;
    color: whitesmoke;
    opacity: 0;
    transition: all .25s ease;
}
.flatiron-img-hover-box {
    position: absolute;
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(50, 50, 50, .85);
    opacity: 0;
    cursor: pointer;
    transition: all .25s ease;
}
.flatiron-img-hover-box h1 {
    position: absolute;
    font-size: 2.5rem;
    color: white;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .5s ease-in-out;
}
.flatiron-img-hover-box:hover {
    opacity: 1;
}
.flatiron-text-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 62.5%;
    padding: 0 2.5rem;
    background-color: #111;
    border-radius: .25rem;
}
.flatiron-text-box h3 {
    align-self: center;
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
}
.flatiron-text-box h1 {
    align-self: center;
    font-size: 3.5rem;
    font-weight: 500;
    padding-bottom: .25rem;
}
.flatiron-text-box h4 {
    align-self: center;
    font-size: 2.125rem;
    padding-bottom: .75rem;
}
.flatiron-text-box p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.25rem;
    font-style: italic;
}
.flatiron-description-box ul {
    padding: .5rem 0 1rem;
    padding-left: 2.5rem;
    font-size: 1.65rem;
}
.flatiron-description-box p {
    padding-top: 1rem;
    font-size: 1.6rem;
    font-weight: 900;
    font-style: normal;
}

/* CERTS */
.cert-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2.5rem;
    width: 90%;
    gap: 2rem;
}
.cert-img-wrapper {
    position: relative;
    display: flex;
}
.cert-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #111;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.325) 4px 4px 2px;
    margin-left: 25rem;
    opacity: 0;
}
#cert2-active,
#cert3-active,
#cert4-active {
    animation: certItemSlide 3s ease forwards;
}
.cert-img-hover-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(50, 50, 50, .85);
    opacity: 0;
    cursor: pointer;
    transition: all .25s ease;
}
.cert-img-hover-box h1 {
    font-size: 1.85rem;
    color: white;
    padding-right: .75rem;
}
#cert-arrow {
    font-size: 1.75rem;
    color: white;
}
.cert-img-hover-box:hover {
    opacity: 1;
}
.cert-img {
    height: 20rem;
    width: auto;
    border-radius: .5rem 0 0 .5rem;
}
#cert-pointer {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2.25rem;
    color: whitesmoke;
    opacity: 1;
    transition: all .25s ease;
}
#cert-pointer-gone {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2.25rem;
    color: whitesmoke;
    opacity: 0;
    transition: all .25s ease;
}
.cert-text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
}
.cert-title {
    font-size: 3.25rem;
    font-weight: 500;
    margin-bottom: 1.65rem;
}
.cert-text-box p {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 2.25rem;
    width: 90%;
}
.cert-text-box p a {
    color: #08fdd8;
    text-decoration: underline;
}
.note-wrapper {
    margin: 5rem 0 0;
    width: 90%;
}
.note-wrapper p {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.4;
    color: #bbb;
}
.note-wrapper p span {
    position: absolute;
    top: -1rem;
    left: -2rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 3.5rem;
    text-align: center;
    text-justify: auto;
    color: #08fdd8;
    font-size: 2.5rem;
    font-weight: 400;
    animation: flickerNote 2s ease infinite;
}
@keyframes flickerNote {
    0% {color: #08fdd8;}
    50% {color: #00947e;}
    100% {color: #08fdd8;}
}