.navbarContainer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    top: 0;
    width: 25rem;
    background-color: #2b343b;
}
/* NAVBAR HEADER */
.navbarHeaderTitle {
    font-size: 2.5rem;
}
.navbarHeaderDescription {
    font-size: 1.25rem;
    margin-top: .25rem;
    text-align: center;
}
/* NAVBAR LINKS */
.navbarLinks {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 2.25rem;
    font-weight: 500;
    color: whitesmoke;
    padding: 1.5rem 0;
    cursor: pointer;
}
.navLinkWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
}
.navLink::after {
    content: "";
    display: block;
    height: .35rem;
    width: 0;
    margin-top: .5rem;
    background-color: transparent;
    border-radius: 1px;
    transition: all .65s ease;
    transition-delay: .25s;
}
.navLink.active::after {
    width: 80%;
    background-color: rebeccapurple;
}
#navLinkIcon {
    margin-right: 1.65rem;
    transition: all .5s ease;
}
.navLinkTitle {
    z-index: 1;
    transition: all .5s ease;
}
.navLink.active #navLinkIcon {
    color: rebeccapurple;
    transition-delay: .25s;
}
.navLink.active .navLinkTitle {
    color: rebeccapurple;
    transition-delay: .25s;
}
/* NAVBAR FOOTER */
.navFooterItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
}
#navFooterIcon {
    font-size: 1.5rem;
    margin-right: 1rem;
}
.navFooterText {
    font-size: 1.5rem;
}