.navLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    font-size: 2.125rem;
    font-weight: 500;
    color: whitesmoke;
    padding: 1.65rem 0;
    list-style: none;
    padding-left: 1.65rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
.navLink.active {
    background-color: #4187f6;
}
.navLink.active::before {
    content: '';
    position: absolute;
    top: -25px;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #2b343b;
    border-radius: 50%;
    box-shadow: 10px 10px 0 #4187f6;
}
.navLink.active::after {
    content: '';
    position: absolute;
    bottom: -25px;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: #2b343b;
    border-radius: 50%;
    box-shadow: 10px -10px 0 #4187f6;
}
#navLinkIcon {
    margin-right: 1.65rem;
}
.navLinkTitle {
    z-index: 1;
}