.work-container {
    padding: 3.5rem 0 3.5rem 18.5rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: hidden;
}
.port-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
@keyframes portFade {
    100% {opacity: 1;}
}
.port-header {
    position: relative;
    color: white;
    font-size: 6.25rem;
    font-weight: 600;
    animation: portFade 2s ease forwards;
    opacity: 0;
}
.port-header span {
    display: inline-block;
    transition: color .35s ease;
}
.port-header span:hover {
    color: #08fdd8;
}
.port-description {
    margin-top: 2.5rem;
    font-size: 1.65rem;
}
#port-slide1,
#port-slide2 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
#port-slide1 {
    animation: showup 2s ease forwards;
}
#port-slide2 {
    width: 0;
    animation: reveal 2.5s ease forwards;
}
#port-contact-slide {
    margin-left: -340px;
    animation: slidein 2.5s ease forwards;
}
@keyframes showup {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes slidein {
    0% {margin-left: -800px}
    50% {margin-left: -800px}
    100% {margin-left: 0px}
}
@keyframes reveal {
    0% {opacity: 0; width: 0px}
    50% {opacity: 1; width: 0px}
    100% {width: 340px}
}
#port-contact-slide span {
    color: #08fdd8;
    text-decoration: underline;
    cursor: pointer;
}


/* PORTFOLIO */
.port-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin-top: 2.5rem;
}

/* TOP ITEMS */
.port-items-t {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}
.port-item-t {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 27.5rem;
    margin: 1rem 0;
    border: 1px solid black;
}

.port-gif-box-t {
    background-color: #08fdd8;
    height: 27.5rem;
    width: 27.5rem;
    flex: 1;
}
.port-gif-t {
}
.portGifPopup-t {
}
.portGifPopup-t p {
}

.port-text-box-t {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
    color: black;
    height: 100%;
}
.port-title-t {
    font-size: 3rem;
}
.port-title-t span {
    font-size: 2rem;
    padding-left: 2px;
}
.port-title-site-t {
    color: #08fdd8;
    font-size: 1.35rem;
    line-height: 1.5;
}
.port-headline-t {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.25;
    padding: 2rem 1rem;
}
.port-btn-box-t {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.port-btn-visit-t {
    width: 45%;
    height: 4.5rem;
    font-size: 2rem;
    color: white;
    background-color: black;
    outline: 1px solid #08fdd8;
    border: none;
    border-radius: .25rem;
}
.port-btn-more-t {
    width: 45%;
    height: 4.5rem;
    font-size: 1.65rem;
    color: white;
    background-color: black;
    outline: 1px solid #08fdd8;
    border: none;
    border-radius: .25rem;
}


/* BOTTOM ITEMS */
.port-items-b {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: firebrick;
    width: 100%;
}
.port-item-b {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20rem;
}

.port-gif-box-b {
}
.port-gif-b {
}
.portGifPopup-b {
}
.portGifPopup-b p {
}

.port-text-box-b {
}
.port-title-b {
}
.port-title-t span {
}
.port-title-site-b {
}
.port-headline-b {
}
.port-btn-box-b {
}
.port-btn-visit-b {
}
.port-btn-more-b {
}