.algo-container {
    padding: 3.5rem 0 3.5rem 18.5rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.algo-header {
    position: relative;
    color: white;
    font-size: 6.25rem;
    font-weight: 600;
    animation: skilsHeadFade 2s ease forwards;
    margin-top: 3.5rem;
    margin-bottom: -3.5rem;
    opacity: 0;
}
.algo-header span {
    display: inline-block;
    transition: color .35s ease;
}
.algo-header span:hover {
    color: #08fdd8;
}
.algo-description {
    margin-top: 2.75rem;
    font-size: 1.85rem;
}
#algo-slide1,
#algo-slide2 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
#algo-slide1 {
    opacity: 0;
    animation: showup 2s ease 1.5s forwards;
}
#algo-slide2 {
    width: 0;
    animation: reveal 2.5s ease 1.5s forwards;
}
#algo-child-slide {
    margin-left: -340px;
    animation: slidein 2.5s ease 1.5s forwards;
}
@keyframes showup {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes slidein {
    0% {margin-left: -800px}
    50% {margin-left: -800px}
    100% {margin-left: 0px}
}
@keyframes reveal {
    0% {opacity: 0; width: 0px}
    50% {opacity: 1; width: 0px}
    100% {width: 260px}
}

.algo-wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: 90%;
    gap: 5rem 0;
    margin-top: 3.85rem;
}
.algo-item {
    padding: 0 1rem;
    width: 92.5%;
    margin: 0 auto;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
    margin-top: 10rem;
    margin-bottom: -10rem;
    opacity: 0;
}
@keyframes algoFadeUp {
    100% {opacity: 1; margin-top: 0; margin-bottom: 0}
}
.algo-item1 {animation: algoFadeUp 1.25s ease .5s forwards}
.algo-item2 {animation: algoFadeUp 1.25s ease .75s forwards}
.algo-item3 {animation: algoFadeUp 1.25s ease 1s forwards}
.algo-item4 {animation: algoFadeUp 1.25s ease 1.25s forwards}
#algoJavascript::before {
    content: "";
    display: block;
    height: 2px;
    margin-left: -1rem;
    width: calc(100% + 2rem);
    transition: all .7s ease;
    background-color: orange
}
#algoRuby::before {
    content: "";
    display: block;
    height: 2px;
    margin-left: -1rem;
    width: calc(100% + 2rem);
    transition: all .7s ease;
    background-color: #FD2155
}
#algoJavascriptRuby::before {
    content: "";
    display: block;
    height: 2px;
    margin-left: -1rem;
    width: calc(100% + 2rem);
    transition: all .7s ease;
    background: linear-gradient(to right,orange, #FD2155);
}
.algo-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.algo-item p:first-child {
    display: block;
    font-size: 14px;
    padding: 1.5rem 2rem 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 0;
    margin-top: 1rem;
}
#algoJavascript p:first-child {
    color: orange;
}
#algoRuby p:first-child {
    color: #FD2155;
}
#algoJavascriptRuby p:first-child {
    color: orange;
}
#algoJavascriptRuby p:first-child span:first-of-type {
    color: #aaa;
}
#algoJavascriptRuby p:first-child span:last-of-type {
    color: #FD2155;
}
.algo-item p:last-child {
    display: block;
    font-size: 14px;
    padding: 1.5rem 2rem 2rem;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 0;
    margin-top: 1rem;
}
.algo-iframe-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 30rem;
    margin-bottom: 1rem;
}
.algo-iframe-wrapper iframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}