.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}
#leave-modal {
    position: absolute;
    top: 5rem;
    right: 5rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all .25s ease;
}
#leave-modal:hover {
    transform: rotate(-90deg);
}
.modal-wrapper {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: .75rem;
    background-color: #222;
    animation: modalAnim .65s ease forwards;
    margin-right: 75rem;
    opacity: 0;
}
@keyframes modalAnim {
    60% {opacity: 1}
    100% {opacity: 1; margin-right: 0}
}
.modal-video-wrapper {
    width: 50%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    animation: modalFade 1s ease-in-out .85s forwards;
    opacity: 0;
}
@keyframes modalFade {
    100% {opacity: 1}
}
.modal-video-title {
    font-size: 3.5rem;
    font-weight: 800;
    width: fit-content;
    text-align: center;
    line-height: 3rem;
    margin-bottom: -1rem;
    margin-top: 1rem;
}
.modal-video-title span:first-of-type {
    font-size: 1.85rem;
    line-height: 2.75rem;
    color: #949494;
}
.modal-video-title span:last-of-type {
    font-size: 3rem;
    font-weight: 600;
    color: #08fdd8;
}
#modal-trade {
    display: inline-block;
    font-size: 3.25rem;
}
.iframe-wrapper {
    position: relative;
    width: 90%;
    overflow: hidden;
    padding-top: 56.25%;
}
.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}
.modal-tech-wrapper {
    background-color: #373737;
    width: 90%;
    padding: 1rem 2rem 1.25rem;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.modal-tech-wrapper h1 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    padding: .2rem 0 .8rem;
    color: #08fdd8;
}
.modal-techs {
    font-size: 1.65rem;
    font-weight: 300;
    line-height: 2.65rem;
    word-spacing: 2px;
    color: #ddd;
    font-style: italic;
}
.modal-techs span {
    font-size: 2rem;
    font-weight: 800;
    font-style: normal;
}
.modal-text-wrapper {
    border-radius: .5rem;
    width: 45%;
    height: 95%;
    margin-left: 2.5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #373737;
    animation: modalScale .65s ease-in-out .35s forwards;
    opacity: 0;
    transform: scale(.75);
}
@keyframes modalScale {
    100% {opacity: 1; transform: scale(1)}
}
.modal-header {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3.5rem;
}
.modal-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-title-wrapper img {
    height: 5.25rem;
    width: 5.25rem;
    margin-right: 1.65rem;
}
.modal-title {
    font-size: 4.35rem;
}
.modal-link {
    font-size: 1.85rem;
    font-weight: 300;
    color: white;
    padding: .5rem 0 1rem;
    text-decoration: underline;
}
.modal-tools-wrapper {
    padding: 1.25rem 0 0;
    margin-bottom: -1rem;
}
.modal-tool {
    height: 3.25rem;
    width: 3.25rem;
    margin: 0 .65rem;
    color: #08fdd8;
}
.modal-tool:hover {
    animation: toolBounce 1s ease-in-out;
}
@keyframes toolBounce {
    from {transform: scale3d(1, 1, 1)}
    30% {transform: scale3d(1.25, 0.75, 1)}
    40% {transform: scale3d(0.75, 1.2, 1)}
    50% {transform: scale3d(1.15, 0.85, 1)}
    65% {transform: scale3d(.95, 1.05, 1)}
    75% {transform: scale3d(1.05, .95, 1)}
    to {transform: scale3d(1, 1, 1)}
}
.modal-body {
    align-self: center;
    width: 90%;
    margin-bottom: -2.25rem;
}
.modal-description {
    font-size: 1.8rem;
    line-height: 2.85rem;
    padding-bottom: 1.5rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    height: 45%;
}
.modal-features-header {
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 1.5px 1.5px 2px black;
    line-height: 2rem;
    padding: .65rem 0 .35rem;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
.modal-features {
    padding: 1rem 0 2rem;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding-left: 5rem;
}
.modal-feature {
    font-size: 1.75rem;
    line-height: 2.4rem;
    font-weight: 600;
}
.modal-visit-site {
    align-self: center;
    position: relative;
    width: 60%;
    height: 4.5rem;
    font-size: 2rem;
    margin-top: -.25rem;
    margin-bottom: 3.25rem;
}
.modal-visit-wrap {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: all 0.3s ease;
    cursor: pointer;
}
.modal-visit-wrap .front,
.modal-visit-wrap .back {
    margin: 0;
    width: 100%;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    letter-spacing: 0.4em;
}
.modal-visit-wrap .front {
    background-color: #373737;
    color: #fff;
    transform: rotateY(0) translateZ(24px);
}
.modal-visit-wrap .back {
    background-color: rgba(255,255,255,0);
    color: rgba(34,34,34,0);
    transform: rotateX(90deg) translateZ(24px);
    overflow: hidden;
}
.modal-visit-wrap .back:after {
    content: '';
    position: absolute;
    top: -100%;
    left: -80%;
    width: 200%;
    height: 250%;
    background: #373737;
    transform: rotate(8deg);
    transition: all 0.65s ease;
    transition-delay: 0.25s;
}
.modal-visit-wrap:hover {
    transform: translateZ(-24px) rotateX(-90deg);
}
.modal-visit-wrap:hover .front {
    background: #373737;
    transition: all 0.8s ease;
}
.modal-visit-wrap:hover .back {
    color: #373737;
    transition: color 0.4s linear;
    background: #fff;
}
.modal-visit-wrap:hover .back:after {
    transform: rotate(6deg) translate(100px, -120px);
}
