.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}
#leave-modal {
    position: absolute;
    top: 5rem;
    right: 5rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all .25s ease;
}
#leave-modal:hover {
    transform: rotate(-90deg);
}