.blogs-container {
    padding: 3.5rem 0 3.5rem 18.5rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.blog-header {
    position: relative;
    color: white;
    font-size: 6.25rem;
    font-weight: 600;
    animation: skilsHeadFade 2s ease forwards;
    margin-top: 3.5rem;
    margin-bottom: -3.5rem;
    opacity: 0;
}
.blog-header span {
    display: inline-block;
    transition: color .35s ease;
}
.blog-header span:hover {
    color: #08fdd8;
}
.blog-description {
    margin-top: 2.75rem;
    font-size: 1.85rem;
    opacity: 0;
    animation: blogDesc 1.85s ease 1s forwards;
}
@keyframes blogDesc {
    100% {opacity: 1}
}


.blog-wrapper {
    margin-top: 5rem;
    width: 90%;
    height: 57.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform-style: preserve-3d;
}
.blog-wrapper input[type=radio] {
    display: none;
}
.blog-cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.blog-card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
    background-color: #08fdd8;
}
#blog-item-1:checked ~ .blog-cards #blog-slide-3, #blog-item-2:checked ~ .blog-cards #blog-slide-1, #blog-item-3:checked ~ .blog-cards #blog-slide-2 {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}
#blog-item-1:checked ~ .blog-cards #blog-slide-2, #blog-item-2:checked ~ .blog-cards #blog-slide-3, #blog-item-3:checked ~ .blog-cards #blog-slide-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 1;
}
#blog-item-1:checked ~ .blog-cards #blog-slide-1, #blog-item-2:checked ~ .blog-cards #blog-slide-2, #blog-item-3:checked ~ .blog-cards #blog-slide-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 2;
}
/* #blog-item-1:checked ~ .blog-cards #blog-slide-1 img, #blog-item-2:checked ~ .blog-cards #blog-slide-2 img, #blog-item-3:checked ~ .blog-cards #blog-slide-3 img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
} */
.blog-content {
    height: 100%;
    width: 100%;
}
.blog-image {
}

.blog-text-content {
}
.blog-title {
}
.blog-start {
}

.blog-facts {
}
.blog-date {
}
.blog-read {
}
.blog-likes {
}